body {
  background: blue;
}

.menu {
    width: 40rem;
    margin: 0 auto;
    background: #F7F6F5;
    border-top: 1px solid #CFCFCF;
}
.menu__main {
    display: flex;
}

.menu__main__item {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #CFCFCF;
}

.menu__main__item:first-child:hover {
  border-left: none;
  margin-left: 0;
}

.menu__main__item:last-child:hover {
  border-right: none;
  margin-right: 0;
}

.menu__main__item:hover {
    background: white;
    border-bottom: none;
    border-right: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
    margin: 0 -1px;
}

.menu__main__item--current .menu__main__item__link {
    color: #333333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.3rem;
  }
  
  .menu__main__item__link {
    text-decoration: none;
    color: #555;
    font-family: 'Oxygen', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
  }
  
  .menu__main__item__link:hover {
    text-decoration: underline;
    color: #1C60BB;
  }

  .menu__sub {
    width: 40rem;
    height: 10rem;
    background: red;
  }