.menu {
    display: flex;
    background: #F7F6F5;
    border-top: 1px solid #CFCFCF;
}

.menu__item {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #CFCFCF;
}

.menu__item:hover {
    background: white;
    border-bottom: none;
    border-right: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
    margin: 0 -1px;
}

.menu__item--current .menu__item__link {
    color: #333333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.3rem;
  }
  
  .menu__item__link {
    text-decoration: none;
    color: #555;
    font-family: 'Oxygen', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
  }
  
  .menu__item__link:hover {
    text-decoration: underline;
    color: #1C60BB;
  }